# Node dependencies
node_modules/
# Builds
/dist/
# Editors
.vscode/
.idea/
# Mac users
.DS_STORE
.stylelintcache

firebase-debug.log*
# Firebase cache
.firebase/



# Ignore the package lock because it differs between platforms and thus gets update all the time.
package-lock.json
