.header {
  width: 100%;
  height: 5em;
  color: #f4f4f4;
  background-color: $brand-primary;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  &__title {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 13px;
    margin-left: 13px;
  }

  &__SocialDisplay {
    text-align: right;
    margin: 0;
    margin-right: 13px;
    margin-top: 24px;
  }

  @include break('md') {

    &__title > h2,
    &__GroupDisplay > h3 {
      display: none ;
    }
  }
}


.SearchBox {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 10.5em 1fr;
  grid-template-areas: 'previous infoDisplay next' 'previous input next';

  &__input {
    text-align: center;
    grid-area: input;
    width: 10.5em;
  }

  &__infoDisplay {
    margin-right: 0;
    text-align: center;
    grid-area: infoDisplay;
    height: 1.5em;
    padding: 0;
    margin-top: 0.39em;
    margin-bottom: 0 !important;
    width: 10.5em;
  }  

  &__weekbtn {
    margin-left: 5px;
    margin-top: 2.3em;
    margin-right: 5px;
    border-radius: 5px;
    width: 2.5em;

    &:nth-child(odd) {
      margin-left: auto;
      grid-area: previous;
    }

    &:nth-child(even) {
      margin-right: auto;
      grid-area: next;
    }
  }
}

.loadingArea {
  display: grid;
  justify-content: center;
  height: 3em;

  &__loader {
    margin: auto;
    margin-top: 1.45em;
    line-height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

    &__dot {
      display: inline-block;
      height: 0.8em;
      width: 0.8em;
      background-color: #9e9e9e;
      border-radius: 50%;
      margin: 0 0.2em;

      transform: translate3d(0);
      animation-name: loadingBounce;
      animation-duration: 0.6s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    &__dot:nth-child(2) {
      animation-delay: 0.2s;
    }

    &__dot:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes loadingBounce {

  to {
    transform: translate3d(0, -0.75em, 0);
  }
}