/* stylelint-disable */

.daybox__title {
  text-align: center;
  font-size: 20px;
}

.scheduleArea {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.daybox {
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #e1e1e1;
  width: 300px;
  min-height: 250px;
  border-radius: 5px;
}

/* width would normally be 360px */
.coursebox {
  margin-left: 5%;
  width: 90%;
  height: 45px;
  background-color: #f4f4f4;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  display: grid;
  grid-template-columns: 1.3fr 1fr 1.3fr;
  grid-template-areas: "timeframe course room" "timeframe course room";
}

.coursebox > div:nth-child(even) {
  /* background-color: #d1d1d1; */
  background-color: #C7CDCC;
}

.coursebox__timespan {
  grid-area: timeframe;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.coursebox__name {
  grid-area: course;
}

.coursebox__timespan,
 .coursebox__name,
  .coursebox__room {
  /* padding-top: 14px; */
  line-height: 45px;
}

.coursebox__lecturer {
  border-top-right-radius: 5px;
  grid-area: lecturer;
}

.coursebox__room {
  grid-area: room;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #f4f4f4;
}

.coursebox__break {
  text-align: center;
  margin-bottom: 10px;
  background-color: #f4f4f4;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
}

.wrongClassError {
  margin: auto;
  height: 15em;
  width: 25em;
  text-align: center;
}

.loadingArea {
  display: grid;
  justify-content: center;
  margin: auto;
  margin-top: 10em;
  height: 3em;

  &__loader {
    margin: auto;
    margin-top: 1.45em;
    line-height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

    &__dot {
      display: inline-block;
      height: 1.4em;
      width: 1.4em;
      background-color: #9e9e9e;
      border-radius: 50%;
      margin: 0 0.2em;

      transform: translate3d(0);
      animation-name: loadingBounce;
      animation-duration: 0.6s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    &__dot:nth-child(2) {
      animation-delay: 0.2s;
    }

    &__dot:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes loadingBounce {

  to {
    transform: translate3d(0, -0.75em, 0);
  }
}

@media(max-width: 300px) {

  .daybox {
    margin-left: 0;
  }
}
