<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Sander de Groot">
    <meta name="description" content="Roosters voor het Deltion College">
    <title>Deltion Roosters</title>
    <!-- CSS will be injected here. -->
</head>
<body>
    <div class="scheduleArea">
        <div v-for="days in week" class="dayBox">
            <div class="dayTitle">{{ days.date_f }}</div>
            <div class="courseBox" v-for="course in days.items">
                <div id="courseTimespan">{{ course.t }}</div>
                <div id="courseName">{{ course.v }}</div>
                <div id="courseLecturer">{{ course.l }}</div>
                <div id="courseRoom">{{ course.r }}</div>
            </div>
        </div>
    </div>
    <!-- javascript files will be injected here. -->
</body>
</html>