/*
  _grid.scss

  This will generate some bootstrap-like grid classes that we can use in our app.

*/

$grid-columns: 12;
$grid-max-width: 65rem;

// Breakpoints; These are used in the grid class names and by the responsive media queries
$breakpoints: (
  xs: 350px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// The sweet home for our other elements.
.container {
  position: relative;
  width: 100%;
  max-width: $grid-max-width;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: $body-bg-color;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

// media queries

@mixin break($size) {

  @media (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin break-min($size) {

  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

// Perform class generation magic

@each $key, $value in $breakpoints {

  @for $i from 1 through $grid-columns {
    // Output format: col--[breakpoint name]-[number from 1 to $grid-columns]
    // Example: col--lg-4
    .col--#{$key}-#{$i} {
      flex: 0 0 100%;

      @include break-min($key) {
        flex: 0 0 #{$i / $grid-columns * 100%};
      }
    }
  }
}
